.welcome {
    color: #0000ff;
}
.item-list{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fruit:nth-child(1) {
    width: max-content;
    background-color: #C7372F;
}
.fruit:nth-child(2) {
    width: max-content;
    background-color: #FFDE59;
}
.fruit:nth-child(3) {
    width: max-content;
    background-color: #FF9F1C;
}
.app {
    margin-top: 20px;
}